@import url('https://fonts.googleapis.com/css2?family=Marcellus&display=swap');
#app {
  margin: 0 auto;
  padding: 1rem;
  font-weight: normal;
}

body {
    background-color: #343543f6;
    display: grid;
    place-items: center;
    background-image: url('./images/earthChangingWeather.gif'), radial-gradient(#5c6090, #463f4ff6, #2e2f3a), linear-gradient(-45deg, #3f3058, #3d3c30, #333e6b);
    /* background-image: url('./images/earthChangingWeather.gif'); */
    background-repeat: no-repeat;
    background-blend-mode: hard-light;
    background-attachment: fixed;
    background-blend-mode: color-dodge;
    animation: anim-ss steps(120) 25s infinite;
}
@keyframes anim-ss {
    0% {background-position: -75%;} 
    50% {background-position: 75%, center;} 
    100% {background-position: 200%;} 
}

.card {
    background-color: #ffffff;
    border-radius: 50px;
    color: #6f707d;
    font-family: 'Marcellus', serif;
}

.apptitle {
    background-color: #37305e;
    border-radius: 20px;
    color: #6f707d;
    font-family: 'Marcellus', serif;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 2px;
}

#heading{
    font-size: 55px;    
    color: #2b304d;
}

.temp{
    place-items: center;
}

.temp-details > p >span, .grey{
    color: #a3acc1;
    font-size: 12px;
}

.fa{
    color: #a5a5b1
}

*:focus{
    outline: none;
}